*{
    margin:0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,html{
    height:100%;
}

#main-content{

}

#loading-image-container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100px;
    height:100px;
}  
#loading-image-container img{
    width:100px;
    height:100px;
}

.loading-circle-ac{
    animation-name: spin-ac;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin-ac {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loading-screen-v{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#1b151c;
    z-index:1000;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    cursor: wait;
}

.loading-screen-iv{
    opacity: 0;
}

/* titlediv*/
#titleDiv{
    height:100%;
    max-height:1920px;
    position:relative;
    overflow:hidden;
}

#title-clip{
    height:100%;
    max-height:1920px;
    width:100%;
    clip: rect(0, auto, auto, 0);
    position:absolute;
}

#titleDiv h1{
    text-align:center;
    position:fixed;
    width:100%;
    line-height:300px;
    font-family: 'Istok Web', sans-serif;
    color:white;
    font-size:250px;
    z-index:3;
}


#sky{
    position:fixed;
    width:100%;
}

#waterfall{
    position:absolute;
    top:200px;
    z-index:10;
    width:100%;
}

/* titlediv*/

#body{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    background-color:#1b151c;
    color:white;
    z-index:10;
}

.sub-splitter{
    height:100px;
    background-color:#2e2430;
}

.sub-title{
    padding:30px;
    text-align: center;
}

hr{
    border-color:#e5d811;
}

.sub-container{
    height: -moz-calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    display:block;
    position:relative;
}

.sub-content{
    padding:50px;
}

.sub-content p{
    margin:10px 0;
}

.left-container{
    width:calc(100%/2);
    float:left;
    box-sizing: border-box;
    overflow:hidden;
    height:100%;
}

.left-right-content{
    padding:20px;
    font-size:20px;
}

.left-right-img img{
    height:100%;
    position:relative;
    overflow:hidden;
}

.left-container {
    height:100%;
}

.right-container{
    width:calc(100%/2);
    float:left;
    box-sizing: border-box;
    overflow:hidden;
}

.top-container{
    height:calc(100vh - 210px);
    overflow:hidden;
    
}

.bottom-container{
    height:110px;
    overflow:hidden;

}
/*content*/

/*opis*/
#satellite{
    width:100%;
    margin-left:100%;
    transition-property: margin;
    transition-duration: 1s;
}
/*opis*/

/*zgo*/
.timeline{
    position:relative;
    width:90%;
    height:50px;
    background-color:#2e2430;
    margin:0 auto;
    overflow-x:hidden;
}

.tl_point{
    position:absolute;
    width:2px;
    height:100%;
    background-color:#e5d811;
    left:-2;
    transition-property:left, background, width;
    transition-duration: 1s;
}

.tl_point_selected{
    background-color:#d5775b;
    width:10px;
    z-index:100;
}

#tl_yearIndicator{
    position:absolute;
    box-sizing: border-box;
    color:black;
    background-color:#d5775b;
    padding:10px;
    height:44px;
    transition-duration: 1s;
    transition-property: left;
}

#zgo_tl{
    
}

#zgo_tl_container{
    position:absolute;
    bottom:0px;
    height:80px;
    width:100%;
}

/*zgo*/

/*atr*/
#results_container{
    overflow:hidden;
    overflow-x:auto;
    white-space:nowrap;
    position:relative;
    padding-bottom:0px;
    height:calc(100% - 108px);
    cursor: -webkit-grab; cursor: grab;
}

#results{
    padding:10px;
}

.attraction{
    height: calc(100vh - 250px);
    width: calc(50vw);
    display:inline-block;
    background:#2e2430;
    margin:10px;
    overflow:hidden;
}

.attraction img{
    height:calc(100vh - 250px);
}

.atr_thumbnail{
    height:200px;
}

.atr_name{
    color:black;
}

/*reviews*/
    .stars-outer {
        display: inline-block;
        position: relative;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }

    .stars-inner-review{
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }

    .stars-outer::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f005 \f005 \f005 \f005 \f005";
    }

    .stars-inner::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f005 \f005 \f005 \f005 \f005";
      color: #f8ce0b;
    }

    .stars-inner-review::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f005 \f005 \f005 \f005 \f005";
      color: #becfe2;
    }

    .rating{
        height:100px;
        line-height:100px;
    }
    .review{
        width:100%;
        background-color:#1b151c;
        display:block;
        white-space:normal;
        margin-bottom:10px;
        padding:10px;
    }
/*reviews*/

.timestamp{
    color:grey;
}

/*atr*/


/*content*/